@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/avenir/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('../fonts/avenir/AvenirNextLTPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/avenir/AvenirLTStd-Medium.woff2') format('woff2'),
    url('../fonts/avenir/AvenirLTStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/avenir/AvenirNextLTPro-Demi.woff2') format('woff2'),
    url('../fonts/avenir/AvenirNextLTPro-Demi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/avenir/AvenirLTStd-Light.woff2') format('woff2'),
    url('../fonts/avenir/AvenirLTStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/avenir/AvenirNextLTPro-MediumCn.woff2') format('woff2'),
    url('../fonts/avenir/AvenirNextLTPro-MediumCn.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/avenir/AvenirNextLTPro-Bold.woff2') format('woff2'),
    url('../fonts/avenir/AvenirNextLTPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/avenir/AvenirLTStd-Heavy.woff2') format('woff2'),
    url('../fonts/avenir/AvenirLTStd-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
