.list__fixed-table {
  background: #fff;
  overflow: hidden;
  width: 100%;
}

table {
  &.table {
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        th {
          color: #9fa9ba;
          font-size: 11px;
          font-weight: 500;
          padding: 14px 20px 14px 8px;
          text-transform: uppercase;
          text-align: left;
          white-space: nowrap;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(2n) {
          background: #fff;
        }

        &:nth-child(2n+1) {
          background: #f8fafc;
        }

        td {
          font-size: 14px;
          padding: 14px 8px;
        }
      }
    }
  }
}
